html, body, div {
    height: 100%;
}

html {
    background-color: black;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

.book {
    position: fixed;
    z-index: 0;
    display: block;
    bottom: 0;
    width: 100%;
}

.book img {
    bottom: 0;
    left:0;
    opacity: .15;
    position: absolute;
    width: 100%;
}

input[type=button] {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 15px;
}

input[type=button]:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

input[type=text], input[type=password], select {
    height: 30px;
    border-radius: 5px;
}

input[type=text], input[type=password] {
    width: 300px;
}

.slick {
    height: 220px;
    width: 100%;
    overflow: hidden;
    padding: 3px;
    z-index: 1;
}
.slick-list {
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    /*max-width: 1128px;*/
}
.slick-list :focus {
    outline-color: yellow;
}
.slick-list img {
    width: 300px;
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 5px;
}

